@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Great+Vibes|Pinyon+Script|Sacramento|Courgette|Fredericka+the+Great";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";

$primary: #0047ab;  /* Cobalt */
$secondary: lighten(#d9d6cf, 10%);  /* Timberwolf (10% LIGHTER) */

body {
  background-color: white;
  padding: 0;
  margin: 0;
  /*font-family: 'Sacramento', cursive;
  font-family: 'Pinyon Script', cursive;*/
}

.primary {
  color: $primary;
}

.primary-bg {
  color: $primary;
}

.secondary {
  color: $secondary;
}

.secondary-bg {
  background-color: $secondary;
}

a {
  color: $primary;
  text-decoration: none;
}

.hidden {
  visibility: hidden;
}

body {
  background-color: $primary;
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  color: $secondary;
  padding-bottom: 20px;
}

h1 {
  margin-top: 200px;
  margin-bottom: 0;
  padding: 0;
  font-size: 128px;
  font-weight: lighter;
}

h2 {
  font-size: 64px;
  margin: 0 auto;
  font-weight: 200;
}

img.divider {
  margin: 20px auto 0px auto;
  width: 70%;
  max-width: 600px;
}

h3 {
  font-size: 56px;
  margin: 20px auto 10px auto;
  font-weight: lighter;
  cursor: pointer;

  a {
    text-decoration: none;
    color: $secondary;
    
    &:hover {
      color: gray;
    }
  }
}

.info {
  background-color: rgba(0, 0, 0, 0.5);
  width: 80%;
  max-width: 400px;
  margin: 5px auto;
  padding: 10px;
  border-radius: 4px;
  font-family: Georgia, serif;
  font-size: 20px;
}

#registries {
  a {
    img {
      margin: 30px auto;
      max-width: 80%;
      filter: grayscale(80%);
    }
    
    &:hover img {
      filter: none;
    }
  }
}

@media (max-width: 900px) {
  h1 { font-size: 96px; margin-top: 150px; }
  h2 { font-size: 56px; }
  h2 { font-size: 48px; }
}

@media (max-width: 600px) {
  h1 { font-size: 64px; margin-top: 100px; }
  h2 { font-size: 48px; }
  h3 { font-size: 38px; }
}

@media (max-width: 400px) {
  h1 { font-size: 40px; margin-top: 50px; }
  h2 { font-size: 32px; }
  h3 { font-size: 32px; }
}
